---
- name: Validate user inputs
  ansible.builtin.assert:
    that:
      - fail2ban_whitelisted_ip_ranges == '' or (fail2ban_whitelisted_ip_ranges is defined and fail2ban_whitelisted_ip_ranges is iterable and fail2ban_whitelisted_ip_ranges | length > 0)
      - fail2ban_whitelisted_ip_ranges == '' or (fail2ban_whitelisted_ip_ranges | map('ansible.utils.ipaddr') | list | select | length == fail2ban_whitelisted_ip_ranges | length)
    fail_msg: "Input validation failed. See README.md for information on required inputs and their format."
    success_msg: "User input configuration is valid."

- name: Verify Linux distribution version
  ansible.builtin.assert:
    that:
      - ansible_facts['distribution'] == 'Rocky'
      - ansible_facts['distribution_version'] in ['8.10', '9.5']
    fail_msg: "Supports RockyLinux versions 8.10 or 9.5. Detected: {{ ansible_facts['distribution'] }} {{ ansible_facts['distribution_version'] }}."
    success_msg: "Running on RockyLinux {{ ansible_facts['distribution_version'] }}."

- name: Enable Extra Packages for Enterprise Linux (EPEL) repository
  ansible.builtin.dnf:
    name: epel-release
    state: present

- name: Install required packages
  ansible.builtin.dnf:
    name:
      - fail2ban
      - xorg-x11-xauth
    state: present
    allow_downgrade: false

- name: SSH - Disallow root SSH access
  ansible.builtin.lineinfile:
    path: /etc/ssh/sshd_config
    regexp: "^PermitRootLogin"
    line: "PermitRootLogin no"
    state: present
  notify: Restart sshd

- name: Configure /etc/fail2ban/jail.d/ssh.conf
  ansible.builtin.template:
    src: ssh.conf.j2
    dest: /etc/fail2ban/jail.d/ssh.conf
    mode: '0644'
    owner: root
    group: root
  notify: Restart fail2ban

- name: Firewalld - Enabled and started
  ansible.builtin.service:
    name: firewalld
    state: started
    enabled: true

- name: Fail2ban - Enabled and started
  ansible.builtin.service:
    name: fail2ban
    state: started
    enabled: true

- name: Gather package facts
  ansible.builtin.package_facts:
    manager: auto

- name: List installed package versions
  ansible.builtin.debug:
    msg:
      - "fail2ban: {{ ansible_facts.packages['fail2ban'][0].version }}-{{ ansible_facts.packages['fail2ban'][0].release }}"
      - "xorg-x11-xauth: {{ ansible_facts.packages['xorg-x11-xauth'][0].version }}-{{ ansible_facts.packages['xorg-x11-xauth'][0].release }}"
