[sshd]
enabled = true
{% if fail2ban_whitelisted_ip_ranges != '' %}
# Whitelist IP addresses from where incoming traffic is trusted
ignoreip = {{ fail2ban_whitelisted_ip_ranges | join(' ') }}
{% endif %}
