[sshd]
enabled = true
{% if fail2ban_whitelisted_ip_ranges != '' and fail2ban_whitelisted_ip_ranges != 'None' and fail2ban_whitelisted_ip_ranges is not none %}
# Whitelist IP addresses from where incoming traffic is trusted
ignoreip = {{ fail2ban_whitelisted_ip_ranges | join(' ') }}
{% endif %}
